.h3Titles{
    color: white !important;
    font-weight: bold !important;
}
.postagensButton{
    border-color: white !important; 
    background-color: #3F51B5 !important; 
    color: white !important;
}
.gridPosts{
    background-color: white !important;
}
.gridHero{
    background-color: #3F51B5 !important;
}